<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Attributes</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Enter Face Attributes</h1>
    <form action="/process" method="post">
        <label for="attribute1">Attribute 1:</label>
        <input type="text" id="attribute1" name="attribute1"><br><br>
        
        <label for="attribute2">Attribute 2:</label>
        <input type="text" id="attribute2" name="attribute2"><br><br>
        
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
